.intro {
    padding: 4rem;
    background: #fff;


  }

  
  .intro-container{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1120px;
      width: 90%;
      margin: 40px auto;
      
    }
    
    .intro-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }

 .intro-wrapper >  .profile{
        width: 40%;
        height: 40%;
    }    


.intro-wrapper > p{
    flex: 2 0 0%;
    margin: 20px;
    line-break: normal;
}

.intro-title{
   margin-bottom: 10%;
   font-size: 300%;
}

.text{
   text-align: center;
   width: 40%;
   line-height: 1.8;
   
}




